.player-box{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.player-item{
  width:100%;
  height:100%;
}

.player-item img{
  width:100%;
  height:100%;
}

.player-item video{
  width:100%;
  height:100%;
}