.highlight-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-image: url('assets/highlight-label/image/card_bg_ss.webp');
  background-size: 100% 100%;
  border-radius: 10px;
  overflow: hidden;
  .label {
		position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 94px;
    max-height: 94px;
    color: #ffffff;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 26px;
  }
}

