.text-ellipsis {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.slide-list {
  overflow: hidden;
  height: 100%;
}
.slide-list-item {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  .date-header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 40px;
    background: url('/assets/slide-list/image/header_bg.png') no-repeat center center;
    background-size: 100% 100%;
    padding: 0 18px;
    .index {
      font-size: 16px;
      color: #52d2ff;
      margin-right: 10px;
    }
    .date-text {
      font-size: 16px;
      color: #52d2ff;
      line-height: 16px;
      // width: 868px;
      display: flex;
      align-items: center;
    }
  }
  .content {
    flex-grow: 1;
    // padding: 24px 0 32px 45px;
    padding: 17px;
    .row {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      .row-pic {
        width: 18px;
        height: 18px;
        margin-right: 10px;
        margin-top: 3px;
      }
      .row-info {
        color: #ffffff;
        line-height: 1.3;
        font-size: 16px;
      }
    }
  }
}

.notice-bar {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.notice-bar-content {
  white-space: nowrap;
}

.scrollable .notice-bar-content {
  animation: scroll linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

::ng-deep .carousel-info-carousel .slick-dots li {
  margin: 0 5px;
}
::ng-deep .carousel-info-carousel .slick-dots li button {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50% !important;
}
::ng-deep .carousel-info-carousel .slick-dots li.slick-active button {
  position: relative;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 1);
  border-radius: 50% !important;
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50% !important;
  }
}

::ng-deep .carousel-info-carousel {
  height: 100%;
  .slick-initialized {
    height: 100%;
    .slick-list {
      height: 100%;
      .slick-track {
        height: 100%;
      }
    }
  }
}
// ::ng-deep .carousel-info-carousel .slick-initialized {
//   height: 100%;
// }
// ::ng-deep .carousel-info-carousel .slick-initialized .slick-list {
//   height: 100%;
// }
// ::ng-deep .carousel-info-carousel .slick-initialized .slick-list .slick-track {
//   height: 100%;
// }
