<!-- horizontal -->
<div *ngIf="color.horizontal" class="slide-list">
  <nz-carousel
    class="carousel-info-carousel"
    [nzAutoPlay]="true"
    [nzAutoPlaySpeed]="color.interval"
  >
    <div
      *ngFor="let item of data.list || []; let index = index"
      nz-carousel-content
      class="slide-list-item"
    >
      <div *ngFor="let item1 of item || []; let index1 = index" class="slide-list-item-wrap">
        <div class="date-header">
          <div
            *ngIf="color.showIndex"
            class="index"
            [style.fontSize]="color?.index?.fontSize + 'px'"
            [style.color]="color?.index?.color"
          >
            {{ index + 1 < 10 ? '0' + (index + 1) : index + 1 }}
          </div>
          <div
            class="date-text text-ellipsis"
            [style.fontSize]="color?.title?.fontSize + 'px'"
            [style.color]="color?.title?.color"
          >
            <div class="notice-bar">
              <div class="notice-bar-content" #noticeBarContent>
                {{ item1.title }}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="item1.content && item1.content.length" class="content">
          <div *ngFor="let item2 of item1.content || []" class="row">
            <img class="row-pic" [src]="item2.icon || 'assets/slide-list/image/tag.png'" alt="" />
            <div
              class="row-info"
              [style.fontSize]="color?.content?.fontSize + 'px'"
              [style.color]="color?.content?.color"
            >
              {{ item2.text }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-carousel>
</div>

<!-- vertical -->
<div *ngIf="!color.horizontal" class="slide-list" #swiperContainer>
  <div class="slide-list-wrapper" #swiperWrapper>
    <div *ngFor="let item of data.list[0] || []; let index = index" class="slide-list-item">
      <div class="date-header">
        <div
          *ngIf="color.showIndex"
          class="index"
          [style.fontSize]="color?.index?.fontSize + 'px'"
          [style.color]="color?.index?.color"
        >
          {{ index + 1 < 10 ? '0' + (index + 1) : index + 1 }}
        </div>
        <div
          class="date-text text-ellipsis"
          [style.fontSize]="color?.title?.fontSize + 'px'"
          [style.color]="color?.title?.color"
        >
          <div class="notice-bar-content" #noticeBarContent>
            {{ item.title }}
          </div>
        </div>
      </div>
      <div *ngIf="item.content && item.content.length" class="content">
        <div *ngFor="let item1 of item.content || []" class="row">
          <img class="row-pic" [src]="item1.icon || 'assets/slide-list/image/tag.png'" alt="" />
          <div
            class="row-info"
            [style.fontSize]="color?.content?.fontSize + 'px'"
            [style.color]="color?.content?.color"
          >
            {{ item1.text }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
