.s-swiper-container {
  height: 600px;
  overflow: hidden;
  position: relative;
  border: 1px solid #000;
}

.s-swiper-wrapper {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}

.s-swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  box-sizing: border-box;
  &:nth-child(even) {
    background-color: lightblue;
  }
  &:nth-child(odd) {
    background-color: lightyellow;
  }
  &.slide1 {
    height: 100px;
  }
  &.slide2 {
    height: 200px;
  }
  &.slide3 {
    height: 300px;
  }
  &.slide4 {
    height: 400px;
  }
}
