<div class="wrap">
  <div class="card-wrap">
    <div class="crad">
      <div class="card-cot">
        <div
          class="cot-top"
          [style.fontSize]="color.titleValueSize"
          [style.color]="color.titleValueColor"
        >
          {{ data.title1Value }}
          <!-- <span
            *ngIf="data.title1Arrow === 'up'"
            [style.color]="
              color.titleArrowColor && color.titleArrowColor.length
                ? color.titleArrowColor[0] || '#52d2ff'
                : '#52d2ff'
            "
            >↑</span
          >
          <span
            *ngIf="data.title1Arrow === 'down'"
            [style.color]="
              color.titleArrowColor && color.titleArrowColor.length
                ? color.titleArrowColor[1] || '#52d2ff'
                : '#52d2ff'
            "
          >
            ↓
          </span> -->
        </div>
        <div
          class="cot-bot text-ellipsis"
          [style.fontSize]="color.titleLabelSize"
          [style.color]="color.titleLabelColor"
        >
          {{ data.title1Label }}
        </div>
      </div>
    </div>
    <div class="crad">
      <div class="card-cot">
        <div
          class="cot-top"
          [style.fontSize]="color.titleValueSize"
          [style.color]="color.titleValueColor"
        >
          {{ data.title2Value }}
          <!-- <span
            *ngIf="data.title2Arrow === 'up'"
            [style.color]="
              color.titleArrowColor && color.titleArrowColor.length
                ? color.titleArrowColor[0] || '#52d2ff'
                : '#52d2ff'
            "
            >↑</span
          >
          <span
            *ngIf="data.title2Arrow === 'down'"
            [style.color]="
              color.titleArrowColor && color.titleArrowColor.length
                ? color.titleArrowColor[1] || '#52d2ff'
                : '#52d2ff'
            "
          >
            ↓
          </span> -->
        </div>
        <div
          class="cot-bot text-ellipsis"
          [style.fontSize]="color.titleLabelSize"
          [style.color]="color.titleLabelColor"
        >
          {{ data.title2Label }}
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="line"></div> -->
  <img src="assets/info-statistics/image/line.png" alt="" class="new-line" />
  <div class="card-bot-wrap">
    <div class="card-left">
      <div class="card-left-cot">
        <img class="card-left-pic" [src]="data.contentIcon" alt="" />
        <div
          class="card-left--text text-ellipsis"
          [style.fontSize]="color.contentLabelSize"
          [style.color]="color.contentLabelColor"
        >
          {{ data.contentLabel }}
        </div>
      </div>
    </div>
    <div class="card-right">
      <div class="card-right-cot">
        <div
          class="card-right-text"
          [style.fontSize]="color.contentValueSize"
          [style.color]="color.contentValueColor"
        >
          {{ data.contentValue }}
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of data.list" class="progressbar">
    <div
      class="text text-ellipsis"
      [style.fontSize]="color.listTitleSize"
      [style.color]="color.listTitleColor"
    >
      {{ item.title }}
    </div>
    <div class="middle">
      <div
        class="long"
        [style.background]="
          color.listProgressColor && color.listProgressColor.length
            ? color.listProgressColor[1] || 'rgba(255, 255, 255, 0.2)'
            : 'rgba(255, 255, 255, 0.2)'
        "
      >
        <div
          class="short"
          [style.width]="item.progress + '%'"
          [style.background]="
            color.listProgressColor && color.listProgressColor.length
              ? color.listProgressColor[0] ||
                'linear-gradient(90deg, rgba(82, 210, 255, 0.4), rgba(109, 217, 255, 0.9) 99%)'
              : 'linear-gradient(90deg, rgba(82, 210, 255, 0.4), rgba(109, 217, 255, 0.9) 99%)'
          "
        ></div>
      </div>
    </div>
    <div class="nub" [style.fontSize]="color.listNumSize" [style.color]="color.listNumColor">
      {{ item.num }}
    </div>
  </div>
</div>
