<div class="stage-node">
  <div class="step">
    <div
      class="row"
      *ngFor="let row of data.list || []; let rowIdx = index"
      [ngStyle]="{ transform: getRowTransform(rowIdx) }"
    >
      <div class="col header">
        <img [src]="row.icon" alt="" />
      </div>
      <div class="col cpu">
        <div class="label step-label">{{ row.cpu }}</div>
        <div class="img">
          <img src="assets/stage-node/image/cpu_active.png" alt="" />
          <!-- <img src="assets/stage-node/image/cpu.png" alt="" /> -->
        </div>
      </div>
      <div class="point-wrap">
        <div class="group" *ngFor="let col of getSteps(row); let colIdx = index">
          <div class="ray">
            <div class="ray-item"></div>
            <div class="ray-item"></div>
            <div class="ray-item"></div>
            <div class="ray-item"></div>
          </div>
          <div class="point">
            <div class="label step-label">{{ col }}</div>
            <div class="img">
              <!-- <img src="assets/stage-node/image/point_finish.png" alt="" /> -->
              <img src="assets/stage-node/image/point_active.png" alt="" />
              <!-- <img src="assets/stage-node/image/point.png" alt="" /> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col station">
        <div class="wrap">
          <div class="label">{{ row.station }}</div>
          <div class="img">
            <img src="assets/stage-node/image/station_active.png" alt="" />
            <!-- <img src="assets/stage-node/image/station.png" alt="" /> -->
          </div>
        </div>
        <div class="info">
          <div class="group">
            <div class="label">
              <img src="assets/stage-node/image/tag.png" alt="" />
              <span>已通知</span>
            </div>
            <div class="value">
              <span class="current">260</span>
              <span class="mark">/</span>
              <span class="total">420</span>
            </div>
          </div>
          <div class="group">
            <div class="label">
              <img src="assets/stage-node/image/tag.png" alt="" />
              <span>已通知</span>
            </div>
            <div class="value">
              <span class="current">260</span>
              <span class="mark">/</span>
              <span class="total">420</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
