.step-label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: PangMenZhengDao, PangMenZhengDao-Regular;
  &.active {
    color: #ffffff;
  }
}
.hide {
  opacity: 0;
}

.stage-node {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1920px;
  height: 1080px;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  background: url('/assets/stage-node/image/bg.png') no-repeat center center;
  background-size: 100% 100%;
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-105px, 76px);
    .row {
      position: relative;
      display: flex;
      width: 1059px;
      height: 106px;
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1059px;
        height: 357px;
        background: url('/assets/stage-node/image/line_bg.png') no-repeat center center;
        background-size: 100% 100%;
        pointer-events: none;
      }
      .col {
        position: relative;
        flex: 1;
        &.header {
          position: absolute;
          top: 10px;
          left: 56px;
          .label {
            position: absolute;
            white-space: nowrap;
            right: 40px;
            top: 112px;
            padding: 0 50px 0 8px;
            height: 32px;
            line-height: 31px;
            font-size: 20px;
            color: #fff;
            border-left: 4px solid #52d2ff;
            background: linear-gradient(to right, #52d1ff88, #52d2ff00);
          }
          img {
            height: 80px;
            transform: translate(0, 68px);
          }
        }
        &.cpu {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          top: 55px;
          left: 246px;
          z-index: 9;
          .label {
            margin-bottom: 14px;
          }
          .img {
            img {
              width: 112px;
            }
          }
        }
        &.station {
          position: absolute;
          top: -286px;
          right: -48px;
          display: flex;
          color: #fff;
          z-index: 9;
          .wrap {
            .label {
              height: 40px;
              font-size: 24px;
              color: #fff;
              transform: rotateX(30deg) rotateY(-30deg) rotateZ(0deg);
              transform-style: preserve-3d;
            }
            .img {
              img {
                width: 93px;
              }
            }
          }
          .info {
            position: absolute;
            display: flex;
            top: 45px;
            left: 98px;
            color: rgba(255, 255, 255, 0.6);
            .group {
              flex-shrink: 0;
              &:not(:last-child) {
                margin-right: 24px;
              }
              .label {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                img {
                  flex-shrink: 0;
                  width: 14px;
                  height: 14px;
                  margin-right: 10px;
                }
                span {
                  font-size: 16px;
                  color: #ffffff;
                }
              }
              .mark {
                margin: 0 3px 4px;
              }
              .value {
                display: flex;
                align-items: flex-end;
                padding-left: 26px;
                .current {
                  font-size: 24px;
                  color: #ffffff;
                }
                .total {
                  font-size: 16px;
                  margin-bottom: 2px;
                }
              }
            }
          }
        }
      }
      .point-wrap {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        width: 100%;
        min-width: 1220px;
        height: 100%;
        padding: 0 0 0 320px;
        // margin-left: 320px;
        transform: translate(-33px, -15.5px) rotateX(55deg) rotateZ(-30deg);
        transform-style: preserve-3d;

        .group {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          flex-grow: 1;
          .ray {
            flex-grow: 1;
            transform-style: preserve-3d;
            transform: translate3d(0, -87px, 0) scaleX(1.5);
            .ray-item {
              height: 3px;
              background: linear-gradient(to right, #50ffcc00, #50ffcd25, #50ffcd6e, #50ffcc);
              border-radius: 99px;
              width: 0; /* 初始宽度为0 */
              animation: ray-animation 5s ease-out infinite; /* 动画持续时间和效果 */
              &:not(:last-child) {
                margin-bottom: 2.8px;
              }
              /* 定义 ray-item 的动画 */
              @keyframes ray-animation {
                90% {
                  width: 0;
                }
                100% {
                  width: 100%;
                }
              }
            }
          }
          .point {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translate3d(25px, -60px, 0) rotateX(0deg) rotateZ(30deg);
            z-index: 9;
            .label {
              position: absolute;
              left: 50%;
              top: 66px;
              white-space: nowrap;
              transform: translate(-50%, 0) scaleY(1.8);
              &.finish {
                top: -40px;
                padding: 0 8px;
                height: 22px;
                line-height: 21px;
                font-size: 15px;
                color: #fff;
                border-left: 4px solid #50ffcc;
                background: linear-gradient(to right, #50ffcd65, #50ffcd00);
              }
            }
            .img {
              img {
                width: 83px;
                height: 190px;
              }
            }
          }
        }
      }
    }
  }
}
