.stage-node {
  .step {
    transform: rotateX(60deg) rotateZ(-30deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    .row {
      display: flex;
      margin-bottom: 2px;
      .col {
        flex: 1;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #f0f0f0;
        color: #000;
      }
    }
  }
}
