.switchArea {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 54%;
    cursor: pointer;

    .switchBox {
        margin-right: 3%;
        display: flex;
    }

    .switchColor {
        width: 14px;
        height: 14px;
        color: #fff;
        margin: auto 0;
    }

    .switchText {
        margin: auto 0;
        margin-left: 10px;
        color: #fff;
    }
}

.pageArea {
    width: 42%;
    height: 10%;
    display: flex;
    margin-left: 54%;
    cursor: pointer;

    .pageBox {
        width: 50%;
        display: flex;
    }
}

.pageColor {
    width: 14px;
    height: 14px;
    color: #fff;
    margin: auto 0;
}

.pageText {
    margin: auto 0;
    margin-left: 10px;
    color: #fff;
}