.theme-line-box {
    width: 100%;
    height: 100%;
    color: #fff;
}

/deep/ .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

/deep/ .axisx{
    font-size: 14px;
}

/deep/ .axisx line {
    display: none;
}

/deep/ .dot {
    display: none;
}


/deep/ .tooltip {
    display: none;
    font-family: sans-serif;
    font-size: 14px;
    fill: #fff;
    text-anchor: middle;
}

/deep/ .axis path {
    display: none;
}

/deep/ .data-label {
    font-family: sans-serif;
    font-size: 11px;
    text-anchor: middle;
    display: none;
}

/deep/ .vertical-line {
    display: none;
    stroke-width: 1px;
}

/deep/ .triangle {
    display: none;
    fill: #46B9E6;
}

/deep/ .bottom-bar {
    fill: #A3A5A9;
}

/deep/ .bottom-bar:nth-child(odd) {
    fill: #62686F;
}

/deep/ .axisx path { stroke: none; }