<div class="monthly-calendar">
  <div class="header">
    <div class="date">
      <div class="tag"></div>
      <div class="date-cn">{{ selectedDate_cn }}</div>
      <div class="date-en">{{ selectedDate_en }}</div>
    </div>
    <div class="calendar">
      <!-- 第一排：当前月的日子按钮 -->
      <div class="days-row">
        <!-- 正常日期按钮 -->
        <div class="btn-wrap">
          <div
            *ngFor="let day of daysInRange(1, endDay); let dayIdx = index"
            [ngClass]="getDayClass(day)"
            class="day-btn"
            [class.active]="day === +selectedDate.substr(-2)"
            (click)="handleBtn(day, dayIdx)"
          >
            {{ day }}
          </div>
        </div>

        <!-- 虚线框包裹 endDay 之后的按钮 -->
        <div class="dashed-border">
          <div
            *ngFor="let day of daysInRange(endDay + 1, daysInMonth)"
            [ngClass]="getDayClass(day)"
            class="day-btn"
          >
            {{ day }}
          </div>
        </div>
      </div>

      <!-- 第二排：时间刻度 -->
      <div class="time-row">
        <div *ngFor="let hour of timeScale; let index = index" class="time-scale">
          <div class="tick-mark"></div>
          <div class="time">
            <span *ngIf="index % 2 === 0">{{ hour }}</span>
          </div>
          <div class="weather">
            <img
              *ngIf="data.sunriseTime === hour"
              src="assets/monthly-calendar/image/day.png"
              alt=""
            />
            <img
              *ngIf="data.sunsetTime === hour"
              src="assets/monthly-calendar/image/night.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="body">
    <div *ngFor="let item of getList(data.list); let index = index" class="item">
      <div class="col1" [style.backgroundColor]="getTheme(index) + '19'">
        <span>{{ item.name }}</span>
      </div>
      <div class="content">
        <div *ngFor="let item1 of item.children || []; let index1 = index" class="row">
          <div class="col2">
            <div class="group">
              <div class="icon-before">
                <img [src]="item1.icon" alt="" />
              </div>
              <span>{{ item1.name }}</span>
            </div>
            <img
              *ngIf="item1.alarm"
              class="icon-after"
              src="assets/monthly-calendar/image/danger.png"
              alt=""
            />
          </div>
          <div class="col3">
            <div
              class="wrap"
              *ngFor="let item2 of item1.children || []; let index2 = index"
              [ngClass]="item2.alarm ? 'alarm' : ''"
              [style.width]="getPer(data.sunriseTime, data.sunsetTime)[index2] + '%'"
              [style.backgroundColor]="getTheme(index) + '25'"
            >
              <div class="group">
                <div class="tag" [style.backgroundColor]="getTheme(index)"></div>
                <div class="icon">
                  <img
                    *ngIf="!item2.alarm"
                    class="icon-user"
                    src="assets/monthly-calendar/image/user.png"
                    alt=""
                  />
                  <img
                    *ngIf="item2.alarm"
                    class="icon-alarm"
                    src="assets/monthly-calendar/image/alarm.png"
                    alt=""
                  />
                </div>
                <div class="notice-bar">
                  <div *ngIf="!item2.alarm" class="user notice-bar-content" #noticeBarContent>
                    <span *ngFor="let user of item2.content || []; let userIdx = index">
                      {{ user }}
                    </span>
                  </div>
                  <div *ngIf="item2.alarm" class="alarm-con notice-bar-content" #noticeBarContent>
                    <div class="text">资源风险预警</div>
                    <div class="tip">此工作项无资源安排</div>
                  </div>
                </div>
              </div>
              <div *ngIf="item1.children && item1.children.length > 1" class="weather">
                <img *ngIf="index2 === 1" src="assets/monthly-calendar/image/day.png" alt="" />
                <img *ngIf="index2 !== 1" src="assets/monthly-calendar/image/night.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
