.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.days-row {
  display: flex;
}

.day-btn {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.active-day {
  color: black; /* 正常日期 */
}

.disabled-day-before {
  color: white; /* startDay之前的日期文字为白色 */
  background-color: gray; /* 灰色背景 */
  cursor: not-allowed;
}

.disabled-day-after {
  color: gray; /* endDay之后的日期文字为灰色 */
  cursor: not-allowed;
}

.btn-wrap {
  padding: 10px;
  display: flex;
  gap: 10px;
}

/* 虚线框包裹 endDay 之后的按钮 */
.dashed-border {
  border: 2px dashed gray; /* 虚线边框 */
  padding: 10px;
  display: flex;
  gap: 10px;
}

.time-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.time-scale {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tick-mark {
  width: 1px;
  height: 10px;
  background-color: black;
  margin-bottom: 5px;
}
